<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wjthinkbig.a10010952.codinggame">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        <activity android:name=".ModeActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LevelActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar">
        </activity>

        <activity android:name=".ViewActivity"
            android:exported="true"
            android:screenOrientation="landscape"></activity>
        <activity android:name=".DialogActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar">
        </activity>
    </application>
</manifest>